In [1]:
import pandas as pd

In [53]:
train = pd.read_csv('dataset/train.csv')

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6255 entries, 0 to 6254
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            6255 non-null   int64
 1   Store         6255 non-null   int64
 2   Date          6255 non-null   object
 3   Temperature   6255 non-null   float64
 4   Fuel_Price    6255 non-null   float64
 5   Promotion1    2102 non-null   float64
 6   Promotion2    1592 non-null   float64
 7   Promotion3    1885 non-null   float64
 8   Promotion4    1819 non-null   float64
 9   Promotion5    2115 non-null   float64
 10  Unemployment  6255 non-null   float64
 11  IsHoliday     6255 non-null   bool
 12  Weekly_Sales  6255 non-null   float64
dtypes: bool(1), float64(9), int64(2), object(1)
memory usage: 592.6+ KB

In [29]:
train[train['Store']==8]

,id,Store,Date,Temperature,Fuel_Price,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,Unemployment,IsHoliday,Weekly_Sales
973,974,8,05/02/2010,34.14,2.572,NaN,NaN,NaN,NaN,NaN,6.299,False,1004137.09
974,975,8,12/02/2010,33.34,2.548,NaN,NaN,NaN,NaN,NaN,6.299,True,994801.40
975,976,8,19/02/2010,39.10,2.514,NaN,NaN,NaN,NaN,NaN,6.299,False,963960.37
976,977,8,26/02/2010,37.91,2.561,NaN,NaN,NaN,NaN,NaN,6.299,False,847592.11
977,978,8,05/03/2010,45.64,2.625,NaN,NaN,NaN,NaN,NaN,6.299,False,881503.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1107,1108,8,31/08/2012,75.33,3.638,10297.42,21.60,17.16,3952.93,3198.02,5.401,False,976137.73
1108,1109,8,07/09/2012,80.87,3.730,11548.63,9.00,29.22,1177.09,2831.40,5.401,True,932160.37
1109,1110,8,14/09/2012,67.21,3.717,4678.98,NaN,12.29,1130.96,5427.34,5.401,False,883569.38
1110,1111,8,21/09/2012,66.96,3.721,3913.12,5.73,2.28,NaN,6984.96,5.401,False,857796.45
1111,1112,8,28/09/2012,71.10,3.666,5518.65,1.91,0.55,1103.02,2049.02,5.401,False,884724.41

## 데이터는 Store(45개) * 05/02/2010 ~ 28/09/2012 년까지 일주일 단위의 데이터 (139개) 
### 6255개의 데이터
### train['Temperature'] 는 온도인데 화씨로 보임 (섭씨로 변환할 필요가 있을까?) 
### train['Fuel_Price']  는 연료 가격 Float형식 
### 프로모션 1,2,3,4,5 는 NaN 과 float형식의 숫자로 구성된 것들이 존재하는데 과연 어떤 프로모션일까
### Unemployment 는 지역사회의 실업률 연관성 파악 
### isHoliday = 휴일 쉬는날이 있으면 True 없으면 False 리턴인가? weekly_Sales와 비교하면 영향이 있나 모르겠다. 
## 우선 NaN 처리를 어떻게 할 것인가 그리고 상관분석을 확인해보고 지점별 한달 매출액을 예측해보자

In [16]:
train['Date'].unique()

array(['05/02/2010', '12/02/2010', '19/02/2010', '26/02/2010',
       '05/03/2010', '12/03/2010', '19/03/2010', '26/03/2010',
       '02/04/2010', '09/04/2010', '16/04/2010', '23/04/2010',
       '30/04/2010', '07/05/2010', '14/05/2010', '21/05/2010',
       '28/05/2010', '04/06/2010', '11/06/2010', '18/06/2010',
       '25/06/2010', '02/07/2010', '09/07/2010', '16/07/2010',
       '23/07/2010', '30/07/2010', '06/08/2010', '13/08/2010',
       '20/08/2010', '27/08/2010', '03/09/2010', '10/09/2010',
       '17/09/2010', '24/09/2010', '01/10/2010', '08/10/2010',
       '15/10/2010', '22/10/2010', '29/10/2010', '05/11/2010',
       '12/11/2010', '19/11/2010', '26/11/2010', '03/12/2010',
       '10/12/2010', '17/12/2010', '24/12/2010', '31/12/2010',
       '07/01/2011', '14/01/2011', '21/01/2011', '28/01/2011',
       '04/02/2011', '11/02/2011', '18/02/2011', '25/02/2011',
       '04/03/2011', '11/03/2011', '18/03/2011', '25/03/2011',
       '01/04/2011', '08/04/2011', '15/04/2011', '22/04/2011',
       '29/04/2011', '06/05/2011', '13/05/2011', '20/05/2011',
       '27/05/2011', '03/06/2011', '10/06/2011', '17/06/2011',
       '24/06/2011', '01/07/2011', '08/07/2011', '15/07/2011',
       '22/07/2011', '29/07/2011', '05/08/2011', '12/08/2011',
       '19/08/2011', '26/08/2011', '02/09/2011', '09/09/2011',
       '16/09/2011', '23/09/2011', '30/09/2011', '07/10/2011',
       '14/10/2011', '21/10/2011', '28/10/2011', '04/11/2011',
       '11/11/2011', '18/11/2011', '25/11/2011', '02/12/2011',
       '09/12/2011', '16/12/2011', '23/12/2011', '30/12/2011',
       '06/01/2012', '13/01/2012', '20/01/2012', '27/01/2012',
       '03/02/2012', '10/02/2012', '17/02/2012', '24/02/2012',
       '02/03/2012', '09/03/2012', '16/03/2012', '23/03/2012',
       '30/03/2012', '06/04/2012', '13/04/2012', '20/04/2012',
       '27/04/2012', '04/05/2012', '11/05/2012', '18/05/2012',
       '25/05/2012', '01/06/2012', '08/06/2012', '15/06/2012',
       '22/06/2012', '29/06/2012', '06/07/2012', '13/07/2012',
       '20/07/2012', '27/07/2012', '03/08/2012', '10/08/2012',
       '17/08/2012', '24/08/2012', '31/08/2012', '07/09/2012',
       '14/09/2012', '21/09/2012', '28/09/2012'], dtype=object)

In [8]:
len(train['Date'].unique())

139

In [14]:
len(train['Store'].unique())

45

In [15]:
45 * 139

6255

In [18]:
train['Temperature']

0       42.31
1       38.51
2       39.93
3       46.63
4       46.50
        ...
6250    75.09
6251    75.70
6252    67.87
6253    65.32
6254    64.88
Name: Temperature, Length: 6255, dtype: float64

In [20]:
train['Fuel_Price']

0       2.572
1       2.548
2       2.514
3       2.561
4       2.625
        ...
6250    3.867
6251    3.911
6252    3.948
6253    4.038
6254    3.997
Name: Fuel_Price, Length: 6255, dtype: float64

In [31]:
test = pd.read_csv('dataset/test.csv')

In [39]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            180 non-null    int64
 1   Store         180 non-null    int64
 2   Date          180 non-null    object
 3   Temperature   180 non-null    float64
 4   Fuel_Price    180 non-null    float64
 5   Promotion1    178 non-null    float64
 6   Promotion2    45 non-null     float64
 7   Promotion3    161 non-null    float64
 8   Promotion4    146 non-null    float64
 9   Promotion5    180 non-null    float64
 10  Unemployment  180 non-null    float64
 11  IsHoliday     180 non-null    bool
dtypes: bool(1), float64(8), int64(2), object(1)
memory usage: 15.8+ KB

In [38]:
test[test.IsHoliday==False] # 180개 즉 트레인셋에서 IsHoliday 의 부분이 중요한가를 의심하게 만든다.

,id,Store,Date,Temperature,Fuel_Price,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,Unemployment,IsHoliday
0,1,1,05/10/2012,68.55,3.617,8077.89,NaN,18.22,3617.43,3626.14,6.573,False
1,2,1,12/10/2012,62.99,3.601,2086.18,NaN,8.11,602.36,5926.45,6.573,False
2,3,1,19/10/2012,67.97,3.594,950.33,NaN,4.93,80.25,2312.85,6.573,False
3,4,1,26/10/2012,69.16,3.506,2585.85,31.75,6.00,1057.16,1305.01,6.573,False
4,5,2,05/10/2012,70.27,3.617,6037.76,NaN,10.04,3027.37,3853.40,6.170,False
...,...,...,...,...,...,...,...,...,...,...,...,...
175,176,44,26/10/2012,46.97,3.755,38.65,2.61,0.98,NaN,457.74,5.217,False
176,177,45,05/10/2012,64.89,3.985,5046.74,NaN,18.82,2253.43,2340.01,8.667,False
177,178,45,12/10/2012,54.47,4.000,1956.28,NaN,7.89,599.32,3990.54,8.667,False
178,179,45,19/10/2012,56.47,3.969,2004.02,NaN,3.18,437.73,1537.49,8.667,False
179,180,45,26/10/2012,58.85,3.882,4018.91,58.08,100.00,211.94,858.33,8.667,False

In [40]:
test.Date # 보아하니 스토어마다 2012년의 10월 한달동안 4번을 예측해야하는 결과물로 보인다.

0      05/10/2012
1      12/10/2012
2      19/10/2012
3      26/10/2012
4      05/10/2012
          ...
175    26/10/2012
176    05/10/2012
177    12/10/2012
178    19/10/2012
179    26/10/2012
Name: Date, Length: 180, dtype: object

# 결측치 = 0으로
- 프로모션이기 때문에 직접 조정하는건 아니라고 본다. NaN된 프로모션들은 0으로 처리해서 데이터를 핸들링할 수 있도록 만들어 주는게 좋아보인다.

In [91]:
train = train.fillna(0)

In [43]:
train.info() # 결측치가 사라진 것을 볼 수 있다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6255 entries, 0 to 6254
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            6255 non-null   int64
 1   Store         6255 non-null   int64
 2   Date          6255 non-null   object
 3   Temperature   6255 non-null   float64
 4   Fuel_Price    6255 non-null   float64
 5   Promotion1    6255 non-null   float64
 6   Promotion2    6255 non-null   float64
 7   Promotion3    6255 non-null   float64
 8   Promotion4    6255 non-null   float64
 9   Promotion5    6255 non-null   float64
 10  Unemployment  6255 non-null   float64
 11  IsHoliday     6255 non-null   bool
 12  Weekly_Sales  6255 non-null   float64
dtypes: bool(1), float64(9), int64(2), object(1)
memory usage: 592.6+ KB

# Date 컬럼을 한번 살펴보자

In [56]:
import datetime

In [66]:
datetime.datetime.strptime(train['Date'][0],'%d/%M/%Y').strftime('%Y-%M-%d')

'2010-02-05'

In [81]:
train['Date'] = list(map(lambda x : datetime.datetime.strptime(x,'%d/%M/%Y').strftime('%Y-%M-%d'),train['Date']))

In [92]:
train[train['Store']==5][train[train['Store']==5]['Date']>'2010-09'].head(4)

,id,Store,Date,Temperature,Fuel_Price,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,Unemployment,IsHoliday,Weekly_Sales
586,587,5,2010-09-03,84.06,2.577,0.0,0.0,0.0,0.0,0.0,6.496,False,323798.00
587,588,5,2010-09-10,79.86,2.565,0.0,0.0,0.0,0.0,0.0,6.496,True,306533.08
588,589,5,2010-09-17,82.28,2.582,0.0,0.0,0.0,0.0,0.0,6.496,False,282558.65
589,590,5,2010-09-24,78.53,2.624,0.0,0.0,0.0,0.0,0.0,6.496,False,293131.58

In [93]:
train[train['Store']==5].tail(4)

,id,Store,Date,Temperature,Fuel_Price,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,Unemployment,IsHoliday,Weekly_Sales
691,692,5,2012-09-07,86.30,3.730,2797.26,1.90,9.61,968.75,2069.30,5.603,True,350648.91
692,693,5,2012-09-14,76.65,3.717,2027.18,4.00,4.55,1354.97,3535.01,5.603,False,299800.67
693,694,5,2012-09-21,71.09,3.721,3033.26,5.73,1.10,83.82,4579.05,5.603,False,307306.76
694,695,5,2012-09-28,78.33,3.666,1279.39,0.00,0.55,425.98,1492.60,5.603,False,310141.68

In [97]:
import matplotlib.pyplot as plt

In [96]:
train['Weekly_Sales']

0       1643690.90
1       1641957.44
2       1611968.17
3       1409727.59
4       1554806.68
           ...
6250     734297.87
6251     766512.66
6252     702238.27
6253     723086.20
6254     713173.95
Name: Weekly_Sales, Length: 6255, dtype: float64

In [99]:
train['Store'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45])

# 상점별 매출액이 다르기 때문에 상점별 모델링이 적용되어야하는거 아닌가 생각이 든다.
- 그렇다면 방법은?

In [108]:
from sklearn.linear_model import LinearRegression

In [124]:
train[train['Store']==5].iloc[:,3:-1]

,Temperature,Fuel_Price,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,Unemployment,IsHoliday
556,39.70,2.572,0.00,0.00,0.00,0.00,0.00,6.566,False
557,39.81,2.548,0.00,0.00,0.00,0.00,0.00,6.566,True
558,41.14,2.514,0.00,0.00,0.00,0.00,0.00,6.566,False
559,46.70,2.561,0.00,0.00,0.00,0.00,0.00,6.566,False
560,48.89,2.625,0.00,0.00,0.00,0.00,0.00,6.566,False
...,...,...,...,...,...,...,...,...,...
690,84.25,3.638,5211.69,49.00,13.00,2799.14,2740.48,5.603,False
691,86.30,3.730,2797.26,1.90,9.61,968.75,2069.30,5.603,True
692,76.65,3.717,2027.18,4.00,4.55,1354.97,3535.01,5.603,False
693,71.09,3.721,3033.26,5.73,1.10,83.82,4579.05,5.603,False
694,78.33,3.666,1279.39,0.00,0.55,425.98,1492.60,5.603,False

In [127]:
modeling(4)

In [135]:
test = test.fillna(0)

In [139]:
train

,id,Store,Date,Temperature,Fuel_Price,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,Unemployment,IsHoliday,Weekly_Sales
0,1,1,2010-02-05,42.31,2.572,0.00,0.00,0.00,0.00,0.00,8.106,False,1643690.90
1,2,1,2010-02-12,38.51,2.548,0.00,0.00,0.00,0.00,0.00,8.106,True,1641957.44
2,3,1,2010-02-19,39.93,2.514,0.00,0.00,0.00,0.00,0.00,8.106,False,1611968.17
3,4,1,2010-02-26,46.63,2.561,0.00,0.00,0.00,0.00,0.00,8.106,False,1409727.59
4,5,1,2010-03-05,46.50,2.625,0.00,0.00,0.00,0.00,0.00,8.106,False,1554806.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,6251,45,2012-08-31,75.09,3.867,23641.30,6.00,92.93,6988.31,3992.13,8.684,False,734297.87
6251,6252,45,2012-09-07,75.70,3.911,11024.45,12.80,52.63,1854.77,2055.70,8.684,True,766512.66
6252,6253,45,2012-09-14,67.87,3.948,11407.95,0.00,4.30,3421.72,5268.92,8.684,False,702238.27
6253,6254,45,2012-09-21,65.32,4.038,8452.20,92.28,63.24,2376.38,8670.40,8.684,False,723086.20
6254,6255,45,2012-09-28,64.88,3.997,4556.61,20.64,1.50,1601.01,3288.25,8.684,False,713173.95

In [136]:
test[test['Store'] == 4].iloc[:,3:]

,Temperature,Fuel_Price,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,Unemployment,IsHoliday
12,63.07,3.620,5918.34,0.00,126.57,3674.49,6807.07,3.879,False
13,57.11,3.603,4975.39,0.00,61.17,1513.17,5905.53,3.879,False
14,64.46,3.610,6313.84,0.00,15.05,2421.08,5885.12,3.879,False
15,63.64,3.514,1763.13,88.76,66.76,0.00,7577.14,3.879,False

In [141]:
import numpy as np

In [142]:
np.around(lr_model[0].predict(test[test['Store'] == 4].iloc[:,3:]),2)

array([2284905.81, 2318891.27, 2274818.6 , 2300713.39])

In [177]:
lr_model = []
def modeling(Store):
    model = LinearRegression()
    X_data = train[train['Store']==Store].iloc[:,3:-1]
    target = train[train['Store']==Store].iloc[:,-1]
    model.fit(X_data,target)
    lr_model.append(model)

In [181]:
for i in range(1,len(train['Store'].unique())+1):
    modeling(i)
    pred(i)

In [180]:
test_pred = []
def pred(Store):
    X_test = test[test['Store']==Store].iloc[:,3:]
    pred = lr_model[Store-1].predict(X_test)
    test_pred.append(pred)

In [189]:
test_pred = np.around(test_pred,2)

In [204]:
import itertools
result = list(itertools.chain(*test_pred))

In [202]:
submission = pd.read_csv('dataset/sample_submission.csv')

In [205]:
submission['Weekly_Sales'] = result

In [207]:
submission.to_csv('submission1.csv',index=False)

In [365]:
from sklearn.preprocessing import MinMaxScaler

In [369]:
train

,id,Store,Date,Temperature,Fuel_Price,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,Unemployment,IsHoliday,Weekly_Sales
0,1,1,2010-02-05,42.31,2.572,0.00,0.00,0.00,0.00,0.00,8.106,False,1643690.90
1,2,1,2010-02-12,38.51,2.548,0.00,0.00,0.00,0.00,0.00,8.106,True,1641957.44
2,3,1,2010-02-19,39.93,2.514,0.00,0.00,0.00,0.00,0.00,8.106,False,1611968.17
3,4,1,2010-02-26,46.63,2.561,0.00,0.00,0.00,0.00,0.00,8.106,False,1409727.59
4,5,1,2010-03-05,46.50,2.625,0.00,0.00,0.00,0.00,0.00,8.106,False,1554806.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,6251,45,2012-08-31,75.09,3.867,23641.30,6.00,92.93,6988.31,3992.13,8.684,False,734297.87
6251,6252,45,2012-09-07,75.70,3.911,11024.45,12.80,52.63,1854.77,2055.70,8.684,True,766512.66
6252,6253,45,2012-09-14,67.87,3.948,11407.95,0.00,4.30,3421.72,5268.92,8.684,False,702238.27
6253,6254,45,2012-09-21,65.32,4.038,8452.20,92.28,63.24,2376.38,8670.40,8.684,False,723086.20
6254,6255,45,2012-09-28,64.88,3.997,4556.61,20.64,1.50,1601.01,3288.25,8.684,False,713173.95

In [373]:
scale = MinMaxScaler()
scale.fit_transform(train[train['Store']==1][['Temperature','Fuel_Price','Unemployment']])

array([[0.1228444444, 0.0416367552, 1.          ],
       [0.0552888889, 0.0244077531, 1.          ],
       [0.0805333333, 0.          , 1.          ],
       [0.1996444444, 0.0337401292, 1.          ],
       [0.1973333333, 0.079684135 , 1.          ],
       [0.3980444444, 0.1098348887, 1.          ],
       [0.3409777778, 0.1478822685, 1.          ],
       [0.2853333333, 0.1564967696, 1.          ],
       [0.4776888889, 0.1471643934, 0.7512520868],
       [0.5415111111, 0.183776023 , 0.7512520868],
       [0.5496888889, 0.2110552764, 0.7512520868],
       [0.5233777778, 0.2017229002, 0.7512520868],
       [0.5690666667, 0.1909547739, 0.7512520868],
       [0.6604444444, 0.2304379038, 0.7512520868],
       [0.7000888889, 0.2440775305, 0.7512520868],
       [0.7296      , 0.223977028 , 0.7512520868],
       [0.8007111111, 0.175879397 , 0.7512520868],
       [0.8051555556, 0.1371141421, 0.7512520868],
       [0.8005333333, 0.1105527638, 0.7512520868],
       [0.8659555556, 0.088298636 , 0.7512520868],
       [0.8700444444, 0.0997846375, 0.7512520868],
       [0.8090666667, 0.1112706389, 0.7337228715],
       [0.8014222222, 0.0918880115, 0.7337228715],
       [0.8488888889, 0.0782483848, 0.7337228715],
       [0.8526222222, 0.0674802584, 0.7337228715],
       [0.8256      , 0.0904522613, 0.7337228715],
       [0.9201777778, 0.0811198851, 0.7337228715],
       [0.9173333333, 0.127781766 , 0.7337228715],
       [0.9111111111, 0.1076812635, 0.7337228715],
       [0.8856888889, 0.0753768844, 0.7337228715],
       [0.8144      , 0.0452261307, 0.7337228715],
       [0.7696      , 0.0366116296, 0.7337228715],
       [0.8304      , 0.0488155061, 0.7337228715],
       [0.8096      , 0.0789662599, 0.7337228715],
       [0.6487111111, 0.063890883 , 0.776293823 ],
       [0.5072      , 0.0854271357, 0.776293823 ],
       [0.5649777778, 0.1478822685, 0.776293823 ],
       [0.6126222222, 0.1514716439, 0.776293823 ],
       [0.6087111111, 0.1450107681, 0.776293823 ],
       [0.4149333333, 0.1256281407, 0.776293823 ],
       [0.4304      , 0.1536252692, 0.776293823 ],
       [0.2846222222, 0.1844938981, 0.776293823 ],
       [0.5176888889, 0.1586503948, 0.776293823 ],
       [0.2465777778, 0.1392677674, 0.776293823 ],
       [0.1943111111, 0.2361809045, 0.776293823 ],
       [0.2567111111, 0.2548456569, 0.776293823 ],
       [0.3009777778, 0.2670495334, 0.776293823 ],
       [0.2316444444, 0.3079684135, 0.776293823 ],
       [0.2288      , 0.3316582915, 0.6961602671],
       [0.          , 0.3366834171, 0.6961602671],
       [0.1536      , 0.360373295 , 0.6961602671],
       [0.1498666667, 0.3560660445, 0.6961602671],
       [0.1221333333, 0.3409906676, 0.6961602671],
       [0.0176      , 0.3646805456, 0.6961602671],
       [0.3904      , 0.3811916726, 0.6961602671],
       [0.4888888889, 0.3955491744, 0.6961602671],
       [0.4298666667, 0.5556353195, 0.6961602671],
       [0.3228444444, 0.6783919598, 0.6961602671],
       [0.4864      , 0.6992103374, 0.6961602671],
       [0.6145777778, 0.6884422111, 0.6961602671],
       [0.4225777778, 0.7250538406, 0.6460767947],
       [0.5767111111, 0.7954055994, 0.6460767947],
       [0.6376888889, 0.8822684853, 0.6460767947],
       [0.6682666667, 0.928212491 , 0.6460767947],
       [0.6512      , 0.9303661163, 0.6460767947],
       [0.5192888889, 0.9992821249, 0.6460767947],
       [0.7153777778, 0.9942569993, 0.6460767947],
       [0.5729777778, 1.          , 0.6460767947],
       [0.7523555556, 0.9131371141, 0.6460767947],
       [0.8462222222, 0.8506819813, 0.6460767947],
       [0.8485333333, 0.8140703518, 0.6460767947],
       [0.9068444444, 0.8061737258, 0.6460767947],
       [0.8565333333, 0.7753050969, 0.6460767947],
       [0.8915555556, 0.7250538406, 0.8797996661],
       [0.8965333333, 0.6934673367, 0.8797996661],
       [0.9447111111, 0.7616654702, 0.8797996661],
       [0.8954666667, 0.816223977 , 0.8797996661],
       [0.9143111111, 0.8384781048, 0.8797996661],
       [1.          , 0.839913855 , 0.8797996661],
       [0.9841777778, 0.8068916009, 0.8797996661],
       [0.9696      , 0.7465900933, 0.8797996661],
       [0.9344      , 0.7243359655, 0.8797996661],
       [0.9320888889, 0.7315147164, 0.8797996661],
       [0.7217777778, 0.7408470926, 0.8797996661],
       [0.7918222222, 0.7264895908, 0.8797996661],
       [0.7182222222, 0.6841349605, 0.8797996661],
       [0.7873777778, 0.6037329505, 0.8797996661],
       [0.6028444444, 0.5534816942, 0.7996661102],
       [0.6460444444, 0.5455850682, 0.7996661102],
       [0.5032888889, 0.6022972003, 0.7996661102],
       [0.5541333333, 0.615936827 , 0.7996661102],
       [0.3480888889, 0.5872218234, 0.7996661102],
       [0.4215111111, 0.5620961953, 0.7996661102],
       [0.4773333333, 0.5699928212, 0.7996661102],
       [0.4398222222, 0.5183058148, 0.7996661102],
       [0.2401777778, 0.472361809 , 0.7996661102],
       [0.1516444444, 0.4623115578, 0.7996661102],
       [0.2885333333, 0.4630294329, 0.7996661102],
       [0.2232888889, 0.4292893037, 0.7996661102],
       [0.1626666667, 0.4414931802, 0.7996661102],
       [0.2419555556, 0.4615936827, 0.367278798 ],
       [0.2334222222, 0.536252692 , 0.367278798 ],
       [0.3326222222, 0.5412778177, 0.367278798 ],
       [0.3352888889, 0.5570710696, 0.367278798 ],
       [0.376       , 0.6073223259, 0.367278798 ],
       [0.2243555556, 0.6424982053, 0.367278798 ],
       [0.1763555556, 0.7150035894, 0.367278798 ],
       [0.3884444444, 0.7473079684, 0.367278798 ],
       [0.4544      , 0.8011486001, 0.367278798 ],
       [0.4152888889, 0.8291457286, 0.367278798 ],
       [0.5216      , 0.8758076095, 0.367278798 ],
       [0.5427555556, 0.9138549892, 0.367278798 ],
       [0.5726222222, 0.9554917444, 0.367278798 ],
       [0.6227555556, 0.9885139986, 0.1961602671],
       [0.5985777778, 0.9885139986, 0.1961602671],
       [0.5575111111, 0.9784637473, 0.1961602671],
       [0.5658666667, 0.9332376167, 0.1961602671],
       [0.7137777778, 0.8865757358, 0.1961602671],
       [0.6821333333, 0.8427853553, 0.1961602671],
       [0.6209777778, 0.8011486001, 0.1961602671],
       [0.7434666667, 0.751615219 , 0.1961602671],
       [0.7564444444, 0.7085427136, 0.1961602671],
       [0.7626666667, 0.6733668342, 0.1961602671],
       [0.7813333333, 0.6310122039, 0.1961602671],
       [0.7642666667, 0.5972720747, 0.1961602671],
       [0.8796444444, 0.5541995693, 0.1961602671],
       [0.8208      , 0.511844939 , 0.          ],
       [0.7416888889, 0.5326633166, 0.          ],
       [0.8003555556, 0.5721464465, 0.          ],
       [0.8401777778, 0.6410624551, 0.          ],
       [0.9015111111, 0.648241206 , 0.          ],
       [0.8826666667, 0.7035175879, 0.          ],
       [0.8791111111, 0.7587939698, 0.          ],
       [0.7512888889, 0.7939698492, 0.          ],
       [0.8016      , 0.8068916009, 0.          ],
       [0.8632888889, 0.8729361091, 0.          ],
       [0.7034666667, 0.863603733 , 0.          ],
       [0.6128      , 0.8664752333, 0.          ],
       [0.7232      , 0.8269921034, 0.          ]])

In [377]:
train.columns['Temperature','Fuel_Price','Unemployment']

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [501]:
abc = pd.DataFrame(columns=train.columns[3:-1])
X_scale = pd.DataFrame(columns=train.columns[3:-1])

def scaling(Store):
    scale = MinMaxScaler()
    X_sc = train[train['Store']==Store][['Temperature','Fuel_Price','Unemployment']]
    X_Data = train[train['Store']==Store].iloc[:,[1,5,6,7,8,9,11]]
    scale_data = pd.DataFrame(scale.fit_transform(X_sc))
    scale_data.columns = ['Temperature','Fuel_Price','Unemployment']
    scale_data['Store'] = train[train['Store']==Store]['Store'].values
    abc = pd.merge(scale_data,X_Data)
    return(abc)

In [432]:
X_sc = train[train['Store']==1][['Temperature','Fuel_Price','Unemployment']]
X_Data = train[train['Store']==1].iloc[:,[5,6,7,8,9,11]]
scale_data = pd.DataFrame(scale.fit_transform(X_sc))
scale_data.columns = ['Temperature','Fuel_Price','Unemployment']
scale_data = X_Data.join(scale_data)

X_scale = pd.DataFrame[columns=train.iloc[:,3:-1].columns]
abc = pd.DataFrame()
def scaling(Store):
    mz

In [432]:
X_sc = train[train['Store']==1][['Temperature','Fuel_Price','Unemployment']]
X_Data = train[train['Store']==1].iloc[:,[5,6,7,8,9,11]]
scale_data = pd.DataFrame(scale.fit_transform(X_sc))
scale_data.columns = ['Temperature','Fuel_Price','Unemployment']
scale_data = X_Data.join(scale_data)

In [508]:
for i in range(1,len(train['Store'].unique())+1):

In [726]:
df_train = pd.DataFrame()
df_test = pd.DataFrame()
for Store in range(1,len(train['Store'].unique())+1):
    scale =MinMaxScaler()
    X_train_sc = train[train['Store']==Store][['Temperature','Fuel_Price','Unemployment']]
    X_train_Data = train[train['Store']==Store].iloc[:,[1,5,6,7,8,9,11]]
    X_train_Data = X_train_Data.reset_index(level=None,drop=True)
    scale_data = pd.DataFrame(scale.fit_transform(X_train_sc))
    scale_data.columns = ['Temperature','Fuel_Price','Unemployment']
    X_train_Data[['Temperature','Fuel_Price','Unemployment']] = scale_data
    df_train = pd.concat([df_train,X_train_Data],axis=0)

    X_test_sc = test[test['Store']==Store][['Temperature','Fuel_Price','Unemployment']]
    X_test_Data = test[test['Store']==Store].iloc[:,[1,5,6,7,8,9,11]]
    X_test_Data = X_test_Data.reset_index(level=None,drop=True)
    scale_test = pd.DataFrame(scale.transform(X_test_sc))
    scale_test.columns =['Temperature','Fuel_Price','Unemployment'] 
    X_test_Data[['Temperature','Fuel_Price','Unemployment']] = scale_test
    df_test = pd.concat([df_test,X_test_Data])

In [727]:
df_train = df_train.reset_index(level=None,drop=True)

In [728]:
df_test = df_test.reset_index(level=None,drop=True)

In [730]:
df_train['target']= train.iloc[:,-1]

In [731]:
df_train

,Store,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,IsHoliday,Temperature,Fuel_Price,Unemployment,target
0,1,0.00,0.00,0.00,0.00,0.00,False,0.122844,0.041637,1.000000,1643690.90
1,1,0.00,0.00,0.00,0.00,0.00,True,0.055289,0.024408,1.000000,1641957.44
2,1,0.00,0.00,0.00,0.00,0.00,False,0.080533,0.000000,1.000000,1611968.17
3,1,0.00,0.00,0.00,0.00,0.00,False,0.199644,0.033740,1.000000,1409727.59
4,1,0.00,0.00,0.00,0.00,0.00,False,0.197333,0.079684,1.000000,1554806.68
...,...,...,...,...,...,...,...,...,...,...,...
6250,45,23641.30,6.00,92.93,6988.31,3992.13,False,0.865965,0.854426,0.457746,734297.87
6251,45,11024.45,12.80,52.63,1854.77,2055.70,True,0.876315,0.886613,0.457746,766512.66
6252,45,11407.95,0.00,4.30,3421.72,5268.92,False,0.743468,0.913680,0.457746,702238.27
6253,45,8452.20,92.28,63.24,2376.38,8670.40,False,0.700204,0.979517,0.457746,723086.20
6254,45,4556.61,20.64,1.50,1601.01,3288.25,False,0.692738,0.949525,0.457746,713173.95

In [827]:
from sklearn.preprocessing import PolynomialFeatures

from sklearn.linear_model import PassiveAggressiveRegressor
from sklearn.metrics import r2_score
from sklearn.linear_model import Ridge,Lasso

In [881]:
result = []
for Store in range(1,len(train['Store'].unique())+1):
    model = Ridge(alpha=1)
    poly = PolynomialFeatures(degree=8,include_bias=False)
    train_X = df_train[df_train['Store']==Store].iloc[:,1:-1]
    train_y = df_train[df_train['Store']==Store].iloc[:,-1]
    poly_X = poly.fit_transform(train_X)
    model.fit(poly_X,train_y)
    test_X = df_test[df_test['Store']==Store].iloc[:,1:]
    poly_test = poly.transform(test_X)
    pred= model.predict(poly_test)
    print(r2_score(train_y,model.predict(poly_X)))
    result.append(pred)

/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(

0.17395019970457104
0.05672023120444003
0.0056291228555943595
0.13755722420795913
0.2708971444809859

/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(

0.08526388934629381
0.15533477268724794
-0.056770081677032014
0.17613749229915476
0.09647337716581017

/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(

0.11218875639657533
0.22238055134512258
0.10875608290263494
0.12990258529673437
0.1070576842194042

/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(

0.09520732939184506
0.23000704395462512
0.08811258784695541
-3.001166056324374
0.03348664512572708

/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(

0.12655724890699938
0.10773247800924746
0.08975299911636625
0.10524312603893193
0.16016302648921077
0.13605438643248324
-3.8774653708525344
-30.54146862557741
0.08821562879396738
0.11853749110360234

/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(

0.1238432044711073
0.12942182713556105
-0.00512602653756522
0.13131486531498215
0.09825600110517951

/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(

0.16497505575437965
-0.13884030773576117
0.5685590712550019
0.1616037368446276
-0.9111968139743147

/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(

0.09575203016544076
0.26247763848547423
0.15062715045436914
-4.234602046217089
0.09708926966145792

/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:251: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(

In [882]:
result

[array([1556533.3758942033, 1541089.7961796334, 1539819.1139023728,
        1539820.0221025795]),
 array([1919482.3180931627, 1920581.6899986432, 1919139.4566394303,
        1919275.084168988 ]),
 array([399183.3647320341, 399179.5330532882, 399288.4137953816,
        399179.5244191645]),
 array([2071179.5949729034, 2063973.4601650946, 2066421.296110473 ,
        2062810.1814471816]),
 array([314051.4609353298, 314076.4346780723, 313757.304554668 ,
        313758.3542925662]),
 array([1555158.7953072342, 1555761.67062394  , 1562030.4613734768,
        1562409.1893468476]),
 array([563821.7183436179, 563817.4661355177, 563975.3209062401,
        563818.1895075688]),
 array([895766.6752660212, 895709.6609358179, 895754.8128023406,
        895725.3143196865]),
 array([536596.6873714544, 536396.9058327557, 536398.3050636792,
        536397.399509624 ]),
 array([1895216.2420329573, 1896911.0515884033, 1896888.157073648 ,
        1897107.4911518006]),
 array([1350820.1440224024,  523797.909342544 , 1347559.609090026 ,
        1347709.162425847 ]),
 array([ 979715.5240068993,  993138.2238624713,  993116.0556678519,
        1145085.9968355154]),
 array([1987788.0794128564, 1996240.6875934645, 1988824.6006325837,
        1995023.8591595003]),
 array([2057716.4376119836, 2056684.4749790556, 2056524.7404214651,
        2057131.3520634547]),
 array([624351.9108415222, 624350.6672629636, 624356.8185559511,
        624259.1615317719]),
 array([518941.3990325442, 587595.5110017856, 514834.9980134818,
        514831.2412248392]),
 array([882754.6748425706, 882543.5140435646, 882466.184051294 ,
        882871.4358879287]),
 array([1086296.9416414625, 1087034.759319992 , 1087099.767252266 ,
        1087050.7257333854]),
 array([1445696.5460635026, 1437886.2182263664, 1436049.2671739606,
        1435925.3393146396]),
 array([2095278.48595799  , 2108095.7519045146, 2094777.5700971938,
        2105094.650758615 ]),
 array([ 581722.0186540358,  762259.3198613293, 1295108.730015708 ,
         711448.8992728747]),
 array([1026307.84108824  , 1026346.837720805 , 1026343.9595377739,
        1026359.6641261893]),
 array([1382306.1841731109, 1382624.346369969 , 1382269.2293954534,
        1382275.5111919963]),
 array([1335323.0127030427, 1355912.243661785 , 1356248.3154438992,
        1363436.291777753 ]),
 array([704583.1627501076, 704570.0581444014, 704488.9507515529,
        704571.5443941217]),
 array([ 999173.4654535358, 1021543.6256462651,  997229.6648308228,
         997231.1971093246]),
 array([3443658.4070578404, 1837296.5425381754, 1812386.7762635672,
        1806300.7702637648]),
 array([   1723.2817990023, 1116058.4722459577, 1142584.6731261364,
        1145725.3281926757]),
 array([535106.0202322775, 534445.9799252008, 535961.3871642771,
        533771.96658744  ]),
 array([438782.388590539 , 456316.0879236092, 438794.1128043582,
        438780.9267554426]),
 array([1395397.899546874 , 1411499.5234413466, 1423516.548945705 ,
        1587713.7977964776]),
 array([1162534.5816384791, 1160110.1251322115, 1158803.563046114 ,
        1155123.2980305054]),
 array([259805.7965689631, 259810.2583242518, 259810.2583903679,
        259809.9288708312]),
 array([961574.5089421789, 956342.7908343575, 959886.998611056 ,
        959901.9520362277]),
 array([926079.7452647686, 921560.4533589877, 925863.7974687347,
        926216.4434188388]),
 array([389767.8311967035, 382169.0790042493, 390823.4804221318,
        390904.0683672323]),
 array([ 536360.4539361828, -199458.287698088 ,  517234.3987733034,
        -207129.3909614036]),
 array([1775016.5648296084,  365785.4304364412,  363115.7126744151,
         362787.2614396476]),
 array([1418410.6394549138, 1418044.0006125458, 1417786.1353115574,
        1417876.768491246 ]),
 array([ 948614.897477776 , 1127891.2508842405,  947838.9190635232,
         947280.3362768068]),
 array([1260120.4511388715, 1255292.5390583826, 1261026.595907073 ,
        1259879.9406102046]),
 array([254268.7839911183, 551197.1870940792, 547454.7269866584,
        565617.540596868 ]),
 array([-67105483.000215225 ,    625284.8874315602,    631040.2424569598,
           605756.1623443048]),
 array([307723.7401228484, 227886.2591806862, 307576.4081584025,
        307559.5369330697]),
 array([784719.6825697969, 785843.688715985 , 785644.153698893 ,
        785586.7915426912])]

In [872]:
result2 = list(itertools.chain(*np.around(result,2)))

In [813]:
submission1

      id  Weekly_Sales
0      1    1572905.44
1      2    1552551.49
2      3    1518128.81
3      4    1518575.42
4      5    1883874.32
..   ...           ...
175  176     325000.05
176  177     782198.36
177  178     807340.51
178  179     795868.29
179  180     791151.30

[180 rows x 2 columns]

In [873]:
result2

[1544632.36,
 1541302.12,
 1541283.94,
 1541283.98,
 1920042.35,
 1920021.04,
 1920043.76,
 1920043.64,
 399629.55,
 399629.53,
 399640.65,
 399629.53,
 2072230.01,
 2072125.36,
 2072161.01,
 2072092.31,
 314605.85,
 314599.0,
 314607.13,
 314607.18,
 1562008.22,
 1562034.82,
 1562033.66,
 1562033.19,
 565147.27,
 565146.67,
 565146.61,
 565146.66,
 906905.9,
 906906.0,
 906905.84,
 906905.83,
 538054.63,
 538054.65,
 538054.85,
 538054.47,
 1897067.62,
 1897066.47,
 1897066.42,
 1897066.81,
 1355534.07,
 1355771.07,
 1355546.83,
 1355546.13,
 995471.14,
 995500.83,
 995502.44,
 976685.31,
 1992771.86,
 1993987.36,
 1992744.68,
 1992733.42,
 2049411.61,
 2049453.24,
 2049450.75,
 2049463.71,
 622811.39,
 622811.41,
 622811.39,
 622811.19,
 518539.84,
 518153.6,
 515856.68,
 515856.33,
 880931.61,
 880931.36,
 880931.34,
 881004.0,
 1082262.18,
 1082258.23,
 1082258.23,
 1082258.11,
 1445891.9,
 1445890.91,
 1445890.9,
 1445890.92,
 2098730.51,
 2098719.25,
 2098730.52,
 2098754.82,
 748536.62,
 759549.15,
 768926.68,
 760700.77,
 1029688.3,
 1029687.97,
 1029687.97,
 1029689.22,
 1390463.05,
 1390463.39,
 1390463.12,
 1390463.11,
 1354570.61,
 1355180.94,
 1355175.66,
 1355343.76,
 706350.05,
 706341.54,
 706339.01,
 706339.48,
 1000873.33,
 1000517.09,
 1000874.9,
 1000874.87,
 1791387.57,
 1790522.49,
 1790522.4,
 1790520.56,
 1311335.17,
 1310849.49,
 1310745.2,
 1310746.22,
 536080.75,
 536034.83,
 536035.23,
 536043.83,
 439245.18,
 403190.32,
 439245.04,
 439245.2,
 1389401.74,
 1387555.21,
 1390152.61,
 1383610.79,
 1161543.1,
 1161539.14,
 1161537.88,
 1161556.54,
 260642.21,
 260642.21,
 260642.21,
 260642.21,
 961477.67,
 960373.59,
 961467.37,
 961467.36,
 925612.39,
 925392.59,
 925381.41,
 925395.47,
 384136.69,
 384131.27,
 384153.97,
 384136.98,
 496577.2,
 -5496769.85,
 513548.65,
 -2544428.74,
 564906.76,
 368078.45,
 368012.65,
 368015.49,
 1431122.62,
 1431165.56,
 1431122.85,
 1431118.97,
 954780.46,
 954610.84,
 954758.09,
 954759.07,
 1259364.81,
 1259882.04,
 1259365.94,
 1259361.32,
 -4528869.03,
 551052.64,
 548327.23,
 550112.18,
 118318360.99,
 636191.72,
 633838.2,
 643532.11,
 296129.17,
 305133.94,
 296106.69,
 296099.62,
 785331.95,
 785367.66,
 785359.31,
 785359.51]

In [826]:
result1

[1575003.11,
 1554547.2,
 1520897.46,
 1521888.64,
 1875811.72,
 1928021.69,
 1881873.49,
 1911516.58,
 419931.27,
 418009.12,
 438967.04,
 408167.55,
 2260157.45,
 2284569.82,
 2247971.45,
 2268976.55,
 323969.69,
 330074.25,
 323160.95,
 324315.45,
 1549210.41,
 1552309.24,
 1507632.75,
 1517949.3,
 624768.86,
 614306.76,
 614922.58,
 608246.96,
 934093.38,
 943591.25,
 927752.03,
 922594.52,
 549207.7,
 554891.39,
 549483.0,
 539064.23,
 1821744.66,
 1833432.47,
 1824991.01,
 1830803.7,
 1390319.99,
 1428717.09,
 1383919.55,
 1383172.59,
 953163.67,
 991850.75,
 988089.59,
 1051743.34,
 2065967.41,
 2100946.53,
 2093481.0,
 2103538.75,
 1898582.1,
 1968838.89,
 1956573.23,
 1935930.25,
 602877.68,
 614810.14,
 606321.68,
 597495.18,
 538188.21,
 545301.58,
 521304.44,
 521690.6,
 933322.14,
 934257.42,
 922309.53,
 962016.51,
 1028855.28,
 1034697.35,
 1013647.82,
 1017638.78,
 1404630.54,
 1423429.1,
 1405464.93,
 1409490.14,
 2057795.71,
 2125990.07,
 2082471.59,
 2102709.6,
 698198.92,
 699947.44,
 728948.94,
 678919.69,
 1015745.0,
 1025552.27,
 1016922.35,
 1000927.76,
 1417585.88,
 1449258.03,
 1403032.89,
 1394774.92,
 1333419.87,
 1323586.78,
 1333850.68,
 1336667.62,
 678895.38,
 694593.43,
 717157.84,
 683538.2,
 1027407.6,
 1039365.14,
 1009310.03,
 1014882.57,
 1711365.25,
 1732558.56,
 1720296.77,
 1718421.86,
 1230992.73,
 1228329.0,
 1231627.96,
 1246556.21,
 521171.61,
 507849.09,
 560558.21,
 499510.78,
 431420.97,
 435229.48,
 432316.68,
 434057.02,
 1423025.54,
 1426359.79,
 1423897.7,
 1393930.3,
 1184074.77,
 1199481.02,
 1174284.11,
 1179635.34,
 256430.24,
 245895.13,
 245170.01,
 247514.2,
 947990.08,
 982941.29,
 953658.8,
 947254.99,
 785433.53,
 783017.32,
 789423.74,
 797569.57,
 271870.85,
 271596.4,
 274701.15,
 279119.04,
 527398.59,
 527800.12,
 528189.99,
 524371.65,
 447119.7,
 455813.65,
 454335.75,
 446626.65,
 1635069.88,
 1635420.7,
 1634582.17,
 1630126.2,
 972532.03,
 981479.62,
 965183.72,
 970462.13,
 1369762.73,
 1421413.65,
 1397755.31,
 1358600.4,
 588487.67,
 587405.9,
 584905.26,
 583419.12,
 632318.71,
 655705.99,
 652680.18,
 652403.95,
 325627.17,
 332870.59,
 323640.83,
 322027.27,
 779133.15,
 802013.0,
 791268.36,
 787687.64]

In [783]:
result1 = abs(pd.Series(result1))

In [874]:
submission2 = pd.read_csv('dataset/sample_submission.csv')

In [875]:
submission2['Weekly_Sales']=result1

In [876]:
submission2.to_csv('submission5.csv',index=False)

In [775]:
submission

      id  Weekly_Sales
0      1    1572905.44
1      2    1552551.49
2      3    1518128.81
3      4    1518575.42
4      5    1883874.32
..   ...           ...
175  176     325000.05
176  177     782198.36
177  178     807340.51
178  179     795868.29
179  180     791151.30

[180 rows x 2 columns]

In [877]:
submission2

      id  Weekly_Sales
0      1    1575003.11
1      2    1554547.20
2      3    1520897.46
3      4    1521888.64
4      5    1875811.72
..   ...           ...
175  176     322027.27
176  177     779133.15
177  178     802013.00
178  179     791268.36
179  180     787687.64

[180 rows x 2 columns]